<app-header></app-header>
<div style="display: flex;">
    <!-- <app-nav-bar></app-nav-bar> -->
    <!-- <app-home></app-home> -->
    <!-- <app-shorts></app-shorts> -->
    <!-- <app-subscriptions></app-subscriptions> -->
    <!-- <app-you></app-you> -->
    <!-- <app-history></app-history> -->
    <!-- <app-trending></app-trending> -->
    <!-- <app-gaming></app-gaming> -->
    <!-- <app-music></app-music> -->
    <!-- <app-live></app-live> -->
    <!-- <app-sport></app-sport> -->
     <app-education></app-education>
</div>