<header>
    <div style="display: flex;">
        <div><img src="./assets/iconInNavbar/1.svg" alt=""></div>
        <div class="logo"><img src="./assets/iconInNavbar/Youtube.svg" alt=""></div>
    </div>
    <div>
        <input type="text" placeholder="Search">
        <button><img src="./assets/iconInNavbar/Lupa.svg" alt=""></button>
        <button><img src="./assets/iconInNavbar/MikroPhone.svg" alt=""></button>
    </div>
    <div class="asd">
        <div class="create"><button> + Create </button></div>
        <div><button style=" width:35px; height:35px;">🔔</button></div>
        <div><button><img src="./assets/iconInNavbar/You.svg" alt="avatar" width="35px" height="35px"></button></div>
    </div>
</header>