<!-- 
    <p>О сервисе Прессе <br> Авторские права <br> Связаться с нами Авторам <br> Рекламодателям <br> Разработчикам
        <br> <br>
        Условия использования <br> Конфиденциальность <br> Правила и безопасность <br> Как работает YouTube <br> Тестирование новых функций <br> <br>
        <span style="color: #717171;">© 2025 Google LLC</span></p>
-->

<main>
    <aside>
        <nav>
            <ul>
                <li><img src="./assets/Home.svg" alt="Home"> Home</li>
                <li><img src="./assets/shorts.svg" alt="Shorts"> Shorts</li>
                <li><img src="./assets/Subscriptions.svg" alt="Subscriptions"> Subscriptions</li>
            </ul>
        </nav>
        <hr>
        <nav>
            <ul>
                <li><img src="./assets/You.svg" alt="You"> You</li>
                <li><img src="./assets/History.svg" alt="History"> History</li>
            </ul>
        </nav>
        <hr>
        <nav>
            <span>Sign in to like videos, <br>
                comment, and subscribe.
            </span>
            <button>
                <img src="./assets/SignIn.svg" alt="Sign">
                Sign in
            </button>
        </nav>
        <hr>
        <nav>
            <ul>
                <li><img src="./assets/Trending.svg" alt="Trending"> Trending</li>
                <li><img src="./assets/Shopping.svg" alt="Shopping"> Shopping</li>
                <li><img src="./assets/Music.svg" alt="Music"> Music</li>
                <li><img src="./assets/MoviesTV.svg" alt="Movies & TV"> Movies & TV</li>
                <li><img src="./assets/Live.svg" alt="Live"> Live</li>
                <li><img src="./assets/Gaming.svg" alt="Gaming"> Gaming</li>
                <li><img src="./assets/News.svg" alt="News"> News</li>
                <li><img src="./assets/Sports.svg" alt="Sports"> Sports</li>
                <li><img src="./assets/Courses.svg" alt="Courses"> Courses</li>
                <li><img src="./assets/FashionBeauty.svg" alt="Fashion & Beauty"> Fashion & Beauty</li>
                <li><img src="./assets/Prodcasts.svg" alt="Podcasts"> Podcasts</li>
                <li><img src="./assets/Playables.svg" alt="Playables"> Playlists</li>
            </ul>
        </nav>
        <hr>
        <nav>
            <ul>
                <li><img src="./assets/YouTubePremium.svg" alt="YouTube Premium"> YouTube Premium</li>
                <li><img src="./assets/YouTubeTV.svg" alt="YouTube TV"> YouTube TV</li>
                <li><img src="./assets/YouTubeMusic.svg" alt="YouTube Music"> YouTube Music</li>
                <li><img src="./assets/YouTubeKids.svg" alt="YouTube Kids"> YouTube Kids</li>
            </ul>
        </nav>
    </aside>
    <section class="content">
    </section>
</main>