<!-- 
    <p>О сервисе Прессе <br> Авторские права <br> Связаться с нами Авторам <br> Рекламодателям <br> Разработчикам
        <br> <br>
        Условия использования <br> Конфиденциальность <br> Правила и безопасность <br> Как работает YouTube <br> Тестирование новых функций <br> <br>
        <span style="color: #717171;">© 2025 Google LLC</span></p>
-->

<main>
    <aside>
        <nav>
            <ul>
                <li><img src="./assets/iconInNavbar/Home.svg" alt="Home"> Home</li>
                <li><img src="./assets/iconInNavbar/shorts.svg" alt="Shorts"> Shorts</li>
                <li><img src="./assets/iconInNavbar/Subscriptions.svg" alt="Subscriptions"> Subscriptions</li>
            </ul>
        </nav>
        <hr>
        <nav>
            <ul>
                <li><img src="./assets/iconInNavbar/You.svg" alt="You"> You</li>
                <li><img src="./assets/iconInNavbar/History.svg" alt="History"> History</li>
            </ul>
        </nav>
        <hr>
        <nav>
            <span>Sign in to like videos, <br>
                comment, and subscribe.
            </span>
            <button>
                <img src="./assets/iconInNavbar/SignIn.svg" alt="Sign">
                Sign in
            </button>
        </nav>
        <hr>
        <nav>
            <ul>
                <li><img src="./assets/iconInNavbar/Trending.svg" alt="Trending"> Trending</li>
                <li><img src="./assets/iconInNavbar/Music.svg" alt="Music"> Music</li>
                <li><img src="./assets/iconInNavbar/Live.svg" alt="Live"> Live</li>
                <li><img src="./assets/iconInNavbar/Gaming.svg" alt="Gaming"> Gaming</li>
                <li><img src="./assets/iconInNavbar/News.svg" alt="News"> News</li>
                <li><img src="./assets/iconInNavbar/Sports.svg" alt="Sports"> Sports</li>
                <li><img src="./assets/iconInNavbar/Courses.svg" alt="Courses"> Courses</li>
                <li><img src="./assets/iconInNavbar/FashionBeauty.svg" alt="Fashion & Beauty"> Fashion & Beauty</li>
            </ul>
        </nav>
        <hr>
        <nav>
            <ul>
                <li><img src="./assets/iconInNavbar/YouTubeKids.svg" alt="YouTube Kids"> YouTube Kids</li>
            </ul>
        </nav>
    </aside>
</main>