<main class="content">
    
    <header class="header">
        <div class="header__logo">
            <img src="./assets/animation/channels4_profile (2).webp" alt="Live" width="100px" height="100px">
        </div>
        <h1 class="header__title">Мода и красота</h1>
    </header>

    <section class="category">
        <div class="category__header">
            <span class="category__title">Paris Fashion Week® WOMENSWEAR READY-TO-WEAR FALL/WINTER 2025-2026</span>
            <button class="category__subscribe">Просмотреть все</button>
        </div>
        <div class="category__grid">
            <div class="card">
                <div><img class="card__image" src="assets/FotoInMusic/sddefault (2).jpg" alt="Post image"></div>
                <div class="card__info">
                    <div class="card__icons">
                        <div class="card__avatar">
                            <img src="./assets/iconInNavbar/You.svg" alt="">
                            <span>User Name</span>
                        </div>
                        <div>
                            <img src="./assets/iconInNavbar/Vector.svg" alt="">
                        </div>
                    </div>
                    <br>
                    <span class="card__date">September 4, 2024</span>
                </div>
            </div>
            <div class="card">
                <div><img class="card__image" src="assets/FotoInMusic/sddefault (2).jpg" alt="Post image"></div>
                <div class="card__info">
                    <div class="card__icons">
                        <div class="card__avatar">
                            <img src="./assets/iconInNavbar/You.svg" alt="">
                            <span>User Name</span>
                        </div>
                        <div>
                            <img src="./assets/iconInNavbar/Vector.svg" alt="">
                        </div>
                    </div>
                    <br>
                    <span class="card__date">September 4, 2024</span>
                </div>
            </div>
            <div class="card">
                <div><img class="card__image" src="assets/FotoInMusic/sddefault (8).jpg" alt="Post image"></div>
                <div class="card__info">
                    <div class="card__icons">
                        <div class="card__avatar">
                            <img src="./assets/iconInNavbar/You.svg" alt="">
                            <span>User Name</span>
                        </div>
                        <div>
                            <img src="./assets/iconInNavbar/Vector.svg" alt="">
                        </div>
                    </div>
                    <br>
                    <span class="card__date">September 4, 2024</span>
                </div>
            </div>
            <div class="card">
                <div><img class="card__image" src="assets/FotoInMusic/sddefault (8).jpg" alt="Post image"></div>
                <div class="card__info">
                    <div class="card__icons">
                        <div class="card__avatar">
                            <img src="./assets/iconInNavbar/You.svg" alt="">
                            <span>User Name</span>
                        </div>
                        <div>
                            <img src="./assets/iconInNavbar/Vector.svg" alt="">
                        </div>
                    </div>
                    <br>
                    <span class="card__date">September 4, 2024</span>
                </div>
            </div>

        </div>

    </section>

    <section class="category sec">
        <div class="category__header">
            <h2 class="category__title">Paris Fashion Week® Womenswear Spring/Summer 2025</h2>
            <button class="category__subscribe">Просмотреть все</button>
        </div>
        <div class="category__grid">
            <div class="card">
                <div><img class="card__image" src="assets/FotoInMusic/sddefault (6).jpg" alt="Post image"></div>
                <div class="card__info">
                    <div class="card__icons">
                        <div class="card__avatar">
                            <img src="./assets/iconInNavbar/You.svg" alt="">
                            <span>User Name</span>
                        </div>
                        <div>
                            <img src="./assets/iconInNavbar/Vector.svg" alt="">
                        </div>
                    </div>
                    <br>
                    <span class="card__date">September 4, 2024</span>
                </div>
            </div>
            <div class="card">
                <div><img class="card__image" src="assets/FotoInMusic/sddefault (6).jpg" alt="Post image"></div>
                <div class="card__info">
                    <div class="card__icons">
                        <div class="card__avatar">
                            <img src="./assets/iconInNavbar/You.svg" alt="">
                            <span>User Name</span>
                        </div>
                        <div>
                            <img src="./assets/iconInNavbar/Vector.svg" alt="">
                        </div>
                    </div>
                    <br>
                    <span class="card__date">September 4, 2024</span>
                </div>
            </div>
            <div class="card">
                <div><img class="card__image" src="assets/FotoInMusic/sddefault(10).jpg" alt="Post image"></div>
                <div class="card__info">
                    <div class="card__icons">
                        <div class="card__avatar">
                            <img src="./assets/iconInNavbar/You.svg" alt="">
                            <span>User Name</span>
                        </div>
                        <div>
                            <img src="./assets/iconInNavbar/Vector.svg" alt="">
                        </div>
                    </div>
                    <br>
                    <span class="card__date">September 4, 2024</span>
                </div>
            </div>
            <div class="card">
                <div><img class="card__image" src="assets/FotoInMusic/sddefault(10).jpg" alt="Post image"></div>
                <div class="card__info">
                    <div class="card__icons">
                        <div class="card__avatar">
                            <img src="./assets/iconInNavbar/You.svg" alt="">
                            <span>User Name</span>
                        </div>
                        <div>
                            <img src="./assets/iconInNavbar/Vector.svg" alt="">
                        </div>
                    </div>
                    <br>
                    <span class="card__date">September 4, 2024</span>
                </div>
            </div>
        </div>
    </section>
</main>