<main>

    <div>
        <span style="gap: 5px;">
            <img src="./assets/Trending.svg" alt="" width="40px">
            <span style="font-size: 32px; color: red; margin-left: 10px;">Trending</span>
        </span>
    </div>

    <hr>

    <div style="display: flex; margin-bottom: 10px; align-items: center;">
        <img src="./assets/You.svg" alt="avatar" width="100px" height="50px">
        <h2>Популярные видео Shorts</h2>
    </div>

    <div style="display: flex; gap: 10px;">

        <div>
            <div>
                <img src="./assets/content/DALL·E 2024-09-04 14.11.41 - A surreal alien landscape in space. The scene features a barren, jagged surface of an alien planet surrounded by rings of asteroids and ice. A massive.webp"
                    alt="Post image" width="400px" height="250px">
            </div>
            <div style="display: flex; justify-content: space-between;">
                <div>
                    <img src="./assets/You.svg" alt="avatar" width="100px" height="50px">
                </div>
                <div style="margin-top: 10px;">
                    <span>User Name</span>
                    <br><br>
                    <span style="color: gray;">Posted on September 4, 2024</span>
                </div>
                <div>
                    <button><img src="./assets/Vector.svg" alt="Options"></button>
                </div>
            </div>
        </div>

        <div>
            <div>
                <img src="./assets/content/DALL·E 2024-09-04 14.11.41 - A surreal alien landscape in space. The scene features a barren, jagged surface of an alien planet surrounded by rings of asteroids and ice. A massive.webp"
                    alt="Post image" width="400px" height="250px">
            </div>
            <div style="display: flex; justify-content: space-between;">
                <div>
                    <img src="./assets/You.svg" alt="avatar" width="100px" height="50px">
                </div>
                <div style="margin-top: 10px;">
                    <span>User Name</span>
                    <br><br>
                    <span style="color: gray;">Posted on September 4, 2024</span>
                </div>
                <div>
                    <button><img src="./assets/Vector.svg" alt="Options"></button>
                </div>
            </div>
        </div>

    </div>

    <hr style="margin-top: 60px;">

    <h2>Популярные видео Shorts</h2>

    <div class="container">
        <div class="shorts">
            <img src="./assets/content/18. Замок Химэдзи.jpg" alt="Скриншот видео" width="100px" height="100px">
             <p class="overlay-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, cumque iusto.</p>
        </div>

        <div class="shorts">
            <img src="./assets/content/18. Замок Химэдзи.jpg" alt="Скриншот видео" width="100px" height="100px">
             <p class="overlay-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, cumque iusto.</p>
        </div>

        <div class="shorts">
            <img src="./assets/content/18. Замок Химэдзи.jpg" alt="Скриншот видео" width="100px" height="100px">
            <p class="overlay-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, cumque iusto.</p>
        </div>

        <div class="shorts">
            <img src="./assets/content/18. Замок Химэдзи.jpg" alt="Скриншот видео" width="100px" height="100px">
            <p class="overlay-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, cumque iusto.</p>
        </div>
    
    </div>

    <hr style="margin-top: 60px; margin-bottom: 60px;">



        <div style="display: flex;">
            <div>
                <img src="./assets/content/DALL·E 2024-09-04 14.11.41 - A surreal alien landscape in space. The scene features a barren, jagged surface of an alien planet surrounded by rings of asteroids and ice. A massive.webp"
                    alt="Post image" width="400px" height="250px">
            </div>
            <div>
                <div style="margin-left: 25px; display: flex; gap: 10px;">
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
                    <div>
                        <button><img src="./assets/Vector.svg" alt="Options"></button>
                    </div>
                </div>
                <div style="margin-left: 25px;">
                    <span style="color: gray;">Posted on September 4, 2024</span>
                </div>
            </div>
        </div>

        <div style="display: flex;">
            <div>
                <img src="./assets/content/DALL·E 2024-09-04 14.11.41 - A surreal alien landscape in space. The scene features a barren, jagged surface of an alien planet surrounded by rings of asteroids and ice. A massive.webp"
                    alt="Post image" width="400px" height="250px">
            </div>
            <div>
                <div style="margin-left: 25px; display: flex; gap: 10px;">
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
                    <div>
                        <button><img src="./assets/Vector.svg" alt="Options"></button>
                    </div>
                </div>
                <div style="margin-left: 25px;">
                    <span style="color: gray;">Posted on September 4, 2024</span>
                </div>
                
            </div>
        </div>



</main>