<main>

    <span style="font-size: 32px; margin-left: 10px;">История просмотра</span>


    <div style="margin-top: 20px; display: flex ;">

        <div>
            <div style="width: 100%;">
                <h3>Сегдоня</h3>

                <div style="display: flex; gap: 10px;">
                    <div>
                        <img src="./assets/content/DALL·E 2024-09-04 14.11.41 - A surreal alien landscape in space. The scene features a barren, jagged surface of an alien planet surrounded by rings of asteroids and ice. A massive.webp"
                            alt="Post image" width="100%" height="150px">
                    </div>
                    <div>
                        <div style="display: flex; gap: 100px;">
                            <h3>Lorem ipsum dolor sit amet <br> consectetur adipisicing elit.</h3>
                            <div style="display: flex; gap: 20px;">
                                <span>✕</span>
                                <span><img src="./assets/iconInNavbar/Vector.svg" alt="Options"></span>
                            </div>
                        </div>
                        <div style="margin-left: 25px;">
                            <h3 style="color: gray;">Posted on September 4, 2024</h3>
                        </div>
                    </div>
                </div>

                <div style="display: flex; gap: 10px;">
                    <div>
                        <img src="./assets/content/DALL·E 2024-09-04 14.11.41 - A surreal alien landscape in space. The scene features a barren, jagged surface of an alien planet surrounded by rings of asteroids and ice. A massive.webp"
                            alt="Post image" width="100%" height="150px">
                    </div>
                    <div>
                        <div style="display: flex; gap: 100px; ">
                            <h3>Lorem ipsum dolor sit amet <br> consectetur adipisicing elit.</h3>
                            <div style="display: flex; gap: 20px;">
                                <span>✕</span>
                                <span><img src="./assets/iconInNavbar/Vector.svg" alt="Options"></span>
                            </div>
                        </div>
                        <div style="margin-left: 25px;">
                            <h3 style="color: gray;">Posted on September 4, 2024</h3>
                        </div>

                    </div>
                </div>
            </div>
            <div style="width: 100%;">
                <h3>Вчера</h3>

                <div style="display: flex; gap: 10px;">
                    <div>
                        <img src="./assets/content/DALL·E 2024-09-04 14.11.41 - A surreal alien landscape in space. The scene features a barren, jagged surface of an alien planet surrounded by rings of asteroids and ice. A massive.webp"
                            alt="Post image" width="100%" height="150px">
                    </div>
                    <div>
                        <div style="display: flex; gap: 100px;">
                            <h3>Lorem ipsum dolor sit amet <br> consectetur adipisicing elit.</h3>
                            <div style="display: flex; gap: 20px;">
                                <span>✕</span>
                                <span><img src="./assets/iconInNavbar/Vector.svg" alt="Options"></span>
                            </div>
                        </div>
                        <div style="margin-left: 25px;">
                            <h3 style="color: gray;">Posted on September 4, 2024</h3>
                        </div>
                    </div>
                </div>

                <div style="display: flex; gap: 10px;">
                    <div>
                        <img src="./assets/content/DALL·E 2024-09-04 14.11.41 - A surreal alien landscape in space. The scene features a barren, jagged surface of an alien planet surrounded by rings of asteroids and ice. A massive.webp"
                            alt="Post image" width="100%" height="150px">
                    </div>
                    <div>
                        <div style="display: flex; gap: 100px; ">
                            <h3>Lorem ipsum dolor sit amet <br> consectetur adipisicing elit.</h3>
                            <div style="display: flex; gap: 20px;">
                                <span>✕</span>
                                <span><img src="./assets/iconInNavbar/Vector.svg" alt="Options"></span>
                            </div>
                        </div>
                        <div style="margin-left: 25px;">
                            <h3 style="color: gray;">Posted on September 4, 2024</h3>
                        </div>

                    </div>
                </div>
            </div>

        </div>

        <div style="margin-left: 10px; margin-top: 10px ;">
            <div>
                <div style="display: flex;  ">
                    <img src="./assets/iconInNavbar/Lupa.svg" alt="Search">
                    <input type="text" placeholder="Искать в история просмотра" style="border:none; width: 200px;">
                </div>
            </div>
            <hr>
            <div style="font-size: 14px;">
                <span> Очистить историю просмотра</span>
            </div>
            <div style="font-size: 14px;">
                <span>Не сохронять историю просмотра</span>
            </div>
            <div style="font-size: 14px;">
                <span>Управлять историей просмотра</span>
            </div>
            <div>
                <ul style="list-style: none;">
                    <li>Комментария</li>
                    <li>Записи</li>
                    <li>Чат</li>
                </ul>
            </div>
        </div>

    </div>

</main>