<!-- <main>
    <div class="headerMusic">
        <img src="./assets/FotoInMusic/channels4_profile.jpg" alt="" width="40px">
        <span style="font-size: 24px; margin-left: 10px;">Музыка</span>
    </div>

    <hr>

    <div style="display: flex; margin-bottom: 10px; align-items: center;">
        <img src="./assets/iconInNavbar/You.svg" alt="avatar" width="100px" height="50px">
        <h2>Популярные видео Shorts</h2>
    </div>

    <div style="display: flex; justify-content: space-between;">

        <div>
            <div>
                <img src="./assets/FotoInMusic/sddefault (2).jpg" alt="Post image" alt="Post image" width="400px"
                    height="250px">
            </div>
            <div style="display: flex; justify-content: space-between;">
                <div style="margin-top: 10px;">
                    <span>User Name</span>
                    <br><br>
                    <span style="color: gray;">Posted on September 4, 2024</span>
                </div>
                <div>
                    <button><img src="./assets/iconInNavbar/Vector.svg" alt="Options"></button>
                </div>
            </div>
        </div>

        <div>
            <div>
                <img src="./assets/FotoInMusic/sddefault (8).jpg" alt="Post image" alt="Post image" width="400px"
                    height="250px">
            </div>
            <div style="display: flex; justify-content: space-between;">
                <div style="margin-top: 10px;">
                    <span>User Name</span>
                    <br><br>
                    <span style="color: gray;">Posted on September 4, 2024</span>
                </div>
                <div>
                    <button><img src="./assets/iconInNavbar/Vector.svg" alt="Options"></button>
                </div>
            </div>
        </div>
        <div>
            <div>
                <img src="./assets/FotoInMusic/sddefault (8).jpg" alt="Post image" alt="Post image" width="400px"
                    height="250px">
            </div>
            <div style="display: flex; justify-content: space-between;">
                
                <div style="margin-top: 10px;">
                    <span>User Name</span>
                    <br><br>
                    <span style="color: gray;">Posted on September 4, 2024</span>
                </div>
                <div>
                    <button><img src="./assets/iconInNavbar/Vector.svg" alt="Options"></button>
                </div>
            </div>
        </div>
    </div>
    <div style="display: flex; justify-content: space-between; gap: 20px;">
        <div>
            <div>
                <img src="./assets/FotoInMusic/sddefault (6).jpg" alt="Post image" alt="Post image" width="400px"
                    height="250px">
            </div>
            <div style="display: flex; justify-content: space-between;">
                <div style="margin-top: 10px;">
                    <span>User Name</span>
                    <br><br>
                    <span style="color: gray;">Posted on September 4, 2024</span>
                </div>
                <div>
                    <button><img src="./assets/iconInNavbar/Vector.svg" alt="Options"></button>
                </div>
            </div>
        </div>
        <div>
            <div>
                <img src="./assets/FotoInMusic/sddefault (6).jpg" alt="Post image" alt="Post image" width="400px"
                    height="250px">
            </div>
            <div style="display: flex; justify-content: space-between;">
                <div style="margin-top: 10px;">
                    <span>User Name</span>
                    <br><br>
                    <span style="color: gray;">Posted on September 4, 2024</span>
                </div>
                <div>
                    <button><img src="./assets/iconInNavbar/Vector.svg" alt="Options"></button>
                </div>
            </div>
        </div>
        <div>
            <div>
                <img src="./assets/FotoInMusic/sddefault(10).jpg" alt="Post image" alt="Post image" width="400px"
                    height="250px">
            </div>
            <div style="display: flex; justify-content: space-between;">
                <div style="margin-top: 10px;">
                    <span>User Name</span>
                    <br><br>
                    <span style="color: gray;">Posted on September 4, 2024</span>
                </div>
                <div>
                    <button><img src="./assets/iconInNavbar/Vector.svg" alt="Options"></button>
                </div>
            </div>
        </div>
    </div>


</main> -->


<header class="header">
    <div class="header__logo">🎵</div>
    <div class="header__title">Музыка</div>
    <button class="header__subscribe">Подписаться</button>
</header>

<main class="content">
    <section class="category">
        <h2 class="category__title">Today's Biggest Hits</h2>
        <div class="category__grid">
            <div class="card">
                <div><img class="card__image" src="assets/FotoInMusic/sddefault (2).jpg" alt="Post image"></div>
                <div class="card__info">
                    <h3 class="card__title">Песня 1</h3>
                    <span class="card__author">User Name</span><br>
                    <span class="card__date">September 4, 2024</span>
                </div>
            </div>
            <div class="card">
                <div><img class="card__image" src="assets/FotoInMusic/sddefault (2).jpg" alt="Post image"></div>
                <div class="card__info">
                    <h3 class="card__title">Песня 1</h3>
                    <span class="card__author">User Name</span><br>
                    <span class="card__date">September 4, 2024</span>
                </div>
            </div>
            <div class="card">
                <div><img class="card__image" src="assets/FotoInMusic/sddefault (8).jpg" alt="Post image"></div>
                <div class="card__info">
                    <h3 class="card__title">Песня 1</h3>
                    <span class="card__author">User Name</span><br>
                    <span class="card__date">September 4, 2024</span>
                </div>
            </div>
            <div class="card">
                <div><img class="card__image" src="assets/FotoInMusic/sddefault (8).jpg" alt="Post image"></div>
                <div class="card__info">
                    <h3 class="card__title">Песня 1</h3>
                    <span class="card__author">User Name</span><br>
                    <span class="card__date">September 4, 2024</span>
                </div>
            </div>
            
        </div>

    </section>

    <section class="category sec">
        <h2 class="category__title">Dance & Electronic for Women's History Month</h2>
        <div class="category__grid">
            <div class="card">
                <div><img class="card__image" src="assets/FotoInMusic/sddefault (6).jpg" alt="Post image"></div>
                <div class="card__info">
                    <h3 class="card__title">Песня 1</h3>
                    <span class="card__author">User Name</span><br>
                    <span class="card__date">September 4, 2024</span>
                </div>
            </div>
            <div class="card">
                <div><img class="card__image" src="assets/FotoInMusic/sddefault (6).jpg" alt="Post image"></div>
                <div class="card__info">
                    <h3 class="card__title">Песня 1</h3>
                    <span class="card__author">User Name</span><br>
                    <span class="card__date">September 4, 2024</span>
                </div>
            </div>
            <div class="card">
                <div><img class="card__image" src="assets/FotoInMusic/sddefault(10).jpg" alt="Post image"></div>
                <div class="card__info">
                    <h3 class="card__title">Песня 1</h3>
                    <span class="card__author">User Name</span><br>
                    <span class="card__date">September 4, 2024</span>
                </div>
            </div>
            <div class="card">
                <div><img class="card__image" src="assets/FotoInMusic/sddefault(10).jpg" alt="Post image"></div>
                <div class="card__info">
                    <h3 class="card__title">Песня 1</h3>
                    <span class="card__author">User Name</span><br>
                    <span class="card__date">September 4, 2024</span>
                </div>
            </div>
        </div>
    </section>
</main>