<!-- 
    <p>О сервисе Прессе <br> Авторские права <br> Связаться с нами Авторам <br> Рекламодателям <br> Разработчикам
        <br> <br>
        Условия использования <br> Конфиденциальность <br> Правила и безопасность <br> Как работает YouTube <br> Тестирование новых функций <br> <br>
        <span style="color: #717171;">© 2025 Google LLC</span></p>
-->

<main>
    <aside>
        <nav>
            <ul>
                <li><img src="./assets/iconInNavbar/Home.svg" alt="Home"> Главна</li>
                <li><img src="./assets/iconInNavbar/shorts.svg" alt="Shorts"> Shorts</li>
                <li><img src="./assets/iconInNavbar/Subscriptions.svg" alt="Subscriptions"> Подписоки</li>
            </ul>
        </nav>
        <hr>
        <nav>
            <ul>
                <h4 style="margin-left: 10px;">Вы ></h4>
                <li><img src="./assets/iconInNavbar/History.svg" alt="History"> История</li>
                <li><img src="./assets/iconInNavbar/History.svg" alt="History"> Смотреть позже</li>
                <li><img src="./assets/iconInNavbar/History.svg" alt="History"> Понравившиесяя</li>
                <li><img src="./assets/iconInNavbar/History.svg" alt="History"> Скаченные</li>
            </ul>
        </nav>
        <!--<nav>
             <span>Sign in to like videos, <br>
                comment, and subscribe.
            </span>
            <button>
                <img src="./assets/iconInNavbar/SignIn.svg" alt="Sign">
                Sign in
            </nav>
        </button> -->
        <hr>
        <nav>
            <ul>
                <h4 style="margin-left: 10px;">Навигатор</h4>
                <li><img src="./assets/iconInNavbar/Trending.svg" alt="Trending"> В тренде</li>
                <li><img src="./assets/iconInNavbar/Music.svg" alt="Music"> Музыка</li>
                <li><img src="./assets/iconInNavbar/Live.svg" alt="Live"> Трансляции</li>
                <li><img src="./assets/iconInNavbar/Gaming.svg" alt="Gaming"> Видеоигры</li>
                <li><img src="./assets/iconInNavbar/News.svg" alt="News"> Новости</li>
                <li><img src="./assets/iconInNavbar/Sports.svg" alt="Sports"> Спорт</li>
                <li><img src="./assets/iconInNavbar/Courses.svg" alt="Courses"> Обучение</li>
                <li><img src="./assets/iconInNavbar/FashionBeauty.svg" alt="Fashion & Beauty"> Мода и красота</li>
            </ul>
        </nav>
        <hr>
        <nav>
            <ul>
                <h4 style="margin-left: 10px;">Другие возможности</h4>
                <li><img src="./assets/iconInNavbar/YouTubeKids.svg" alt="YouTube Kids"> YouTube Детям</li>
            </ul>
        </nav>
        <hr>
        <nav>
            <ul>
                <h4 style="margin-left: 10px;">Настройки</h4>
                <li><img src="./assets/iconInNavbar/Settings.svg" alt="Settings"> Настройки</li>
                <li><img src="./assets/iconInNavbar/Complaints.svg" alt="Complaints"> Жалобы</li>
                <li><img src="./assets/iconInNavbar/Help.svg" alt="Help"> Справка</li>
                <li><img src="./assets/iconInNavbar/SendFeedback.svg" alt="Send Feedback"> Отправить отзыв</li>
            </ul>
        </nav>
    </aside>
</main>